<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container justify-content-center" style="margin-top: 6%">

    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center mt-5">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 justify-content-center" style="text-align: center;">
                    <h1 style="text-align: center;margin:0 auto; display: block;">Na žalost već ste jednom uradili test! Nije dozvoljeno raditi ponovo!</h1>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 justify-content-center" style="text-align: center;">
                    <a href="/login"><button type="button"  class="btn btn-success" style="width: 228px;">Nazad na login</button></a>
                </div>
                <div class="col-md-2">
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="/jsj/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>
</html>
